section.jumbotron
  .container-fluid
    #homeCarousel.carousel.slide(data-ride="carousel")
      ol.carousel-indicators
        li.active(data-target="#homeCarousel", data-slide-to="0")
        li(data-target="#homeCarousel", data-slide-to="1")
        li(data-target="#homeCarousel", data-slide-to="2")
        li(data-target="#homeCarousel", data-slide-to="3")
        li(data-target="#homeCarousel", data-slide-to="4")

      .carousel-inner(role="listbox")
        .item.active
          img(src="", alt="")
          .carousel-caption="0"
        .item
          img(src="", alt="")
          .carousel-caption="1"
        .item
          img(src="", alt="")
          .carousel-caption="2"
        .item
          img(src="", alt="")
          .carousel-caption="3"
        .item
          img(src="", alt="")
          .carousel-caption="4"

      a.left.carousel-control(href="#homeCarousel" role="button" data-slide="prev")
        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
        span.sr-only="Previous"

      a.right.carousel-control(href="#homeCarousel" role="button" data-slide="next")
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
        span.sr-only="Next"

article.container
  .row
    section.col-sm-12.col-md-4
      h1="A header"
      p="some text, bla bla bla bla bla bla. Bla bla, bla bla bla bla bla bla"
      p="bla bla bla bla bla bla, bla bla bla bla bla bla. Bla bla bla bla bla bla, bla bla bla bla bla bla."
      p="bla bla bla bla bla bla, bla bla bla bla bla bla. Bla bla bla bla bla bla!"
    section.col-sm-12.col-md-4
      h1="Moar header!"
      p="more text, bla bla bla bla bla bla, bla bla bla bla bla bla"
      p="bla bla bla bla bla bla"
      p="bla bla bla bla bla bla, bla bla bla bla bla bla"
      p="bla bla bla bla bla bla"
    section.col-sm-12.col-md-4.text-center
      h1="One last header!"
      p.text-left="yet more text! Bla bla, bla bla bla bla bla bla, bla bla bla bla bla bla."
      a.text-capitalize.btn.btn-lg.btn-primary.active(href="/", translate="ctaRegister")=""
