article.container
  .row
    section.col-sm-12.col-md-4
      h1="A header"
      p="some text, bla bla bla bla bla bla. Bla bla, bla bla bla bla bla bla"
      p="bla bla bla bla bla bla, bla bla bla bla bla bla. Bla bla bla bla bla bla, bla bla bla bla bla bla."
      p="bla bla bla bla bla bla, bla bla bla bla bla bla. Bla bla bla bla bla bla!"
    section.col-sm-12.col-md-4
      h1="Moar header!"
      p="more text, bla bla bla bla bla bla, bla bla bla bla bla bla"
      p="bla bla bla bla bla bla"
      p="bla bla bla bla bla bla, bla bla bla bla bla bla"
      p="bla bla bla bla bla bla"
    section.col-sm-12.col-md-4.text-center
      h1="One last header!"
      p.text-left="yet more text! Bla bla, bla bla bla bla bla bla, bla bla bla bla bla bla."
      a.text-capitalize.btn.btn-lg.btn-primary.active(href="/", translate="ctaRegister")=""
