doctype html
html(lang="{{language}}", ng-app="meeting")
  head
    title(translate="siteTitle")
    meta(name="version", content=version)
    link(rel="canonical", href=baseUrl+"{{localizeCurrentRoute(language)}}")
    each lang in languages
      link(rel="alternate", hreflang=lang, ng-if="language != '" + lang + "'", ng-href=baseUrl+"{{localizeCurrentRoute('" + lang + "')}}")
    base(href="/")
  body
    header
      ul
        each lang in languages
          li
            a(ng-href=baseUrl+"{{localizeCurrentRoute('" + lang + "')}}")=lang

      nav
        ul
          li
            a(ng-href="{{ localizeRoute('home') }}")="{{'home'|translate}}"
          li
            a(ng-href="{{ localizeRoute('instructors.list') }}")="{{'instructors'|translate}}"

    section(ui-view)

    footer
      div(translate="patronage")
      div(translate="organizedby")

    script(src="vendor-min.js")
    script(src="app-min.js")
