doctype html
html(lang="{{language}}", ng-app="meeting")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title(translate="siteTitle")
    meta(name="version", content=version)
    link(rel="canonical", href=baseUrl+"{{localizeCurrentRoute(language)}}")
    each lang in languages
      link(rel="alternate", hreflang=lang, ng-if="language != '" + lang + "'", ng-href=baseUrl+"{{localizeCurrentRoute('" + lang + "')}}")
    base(href="/")
    link(rel="stylesheet", href="app.css")
    meta(name="keywords", content="{{'keywords'|translate}}")
    meta(name="description", content="{{'description'|translate}}")
  body
    header
      .btn-group(role="group")
        each lang in languages
            a.btn.btn-default(ng-href=baseUrl+"{{localizeCurrentRoute('" + lang + "')}}")=lang

      nav.row.text-capitalize
        a.col-sm-1.text-center.text-capitalize(ng-href="{{ localizeRoute('home') }}")="{{'home'|translate}}"
        a.col-sm-1.text-center.text-capitalize(ng-href="{{ localizeRoute('instructors.list') }}")="{{'instructors'|translate}}"
        a.col-sm-1.text-center.text-capitalize(ng-href="{{ localizeRoute('venue') }}")="{{'venue'|translate}}"
        a.col-sm-1.text-center.text-capitalize(ng-href="{{ localizeRoute('accommodation') }}")="{{'accommodation'|translate}}"
        a.col-sm-1.text-center.text-capitalize(ng-href="{{ localizeRoute('register') }}")="{{'register'|translate}}"

    section.space-after-2(ui-view)

    footer.container-fluid
      .row.space-after-1
        .col-sm-12.text-center.text-capitalize.text-smaller(translate="patronage")
      .row.space-after-2
        .col-sm-12.text-center.text-capitalize.text-smaller(translate="organizedby")

    script(src="vendor-min.js")
    script(src="app-min.js")
